<article id="job-creation" ng-init="init()">
  <header>
    <span class="glyphicon glyphicon-chevron-left"></span>
    What do you need?
    <span class="glyphicon glyphicon-share-alt"></span>
  </header>
  <span id="counter">
    {{description.length ? 300 - description.length : ''}}
  </span>
  <p ng-class="{loaded: loaded}">
    Clean my
    <span class="selectable change" ng-click="changeLocation()">
      {{location}}
    </span>
    <span class="selectable">
      <input type="text" placeholder="+description" ng-model="description">
    </span>
    <span class="selectable button">
      <span class="glyphicon glyphicon-camera"></span>
    </span>
    at
    <span class="selectable button">
      <span class="glyphicon glyphicon-map-marker"></span>
    </span>
    in
    <span class="selectable button">
      <span class="glyphicon glyphicon-time"></span>
      no location
    </span>
    <span class="selectable change" ng-click="changeProduct()">
      {{product}}
    </span>
  </p>
  <footer>
    <div id="included">
      What's included?
    </div>
    <button>
      Continue
    </button>
  </footer>
</article>